// COLORS
$light-blue: #e5f4fb;
$cyan: #007C92;
$dark-blue: #011F40;

$yellow: #FCD900;

$light-red: #E10E49;
$dark-red: #97233F;

$white: #FFFFFF;
$ivory: #EFEBE5;

$light-grey: #e5e5e5;

// BACKGROUND COLORS
$bg-light-blue: #cceaf8;

// FONT COLORS
$font-black: #333333;

// FONT-SIZE
$fs-tiny: 12px;
$fs-small: 14px;
$fs-base: 16px;
$fs-big: 18px;
$fs-large: 22px;
$fs-huge: 28px;
$fs-giant: 46px;

// GUTTER
$gutter: 30px;
$gutter-single: 15px;

// BREAKPOINTS
$xs: 420px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
