// COLORS
$dark-blue: #011F40;
$light-blue: #0098DB;
$cyan: #007C92;

$yellow: #FCD900;

$light-red: #E10E49;
$dark-red: #97233F;

$ebony: #EFEBE5;

$font-black: #333333;

// FONTS

// FONT-SIZE
$fs-tiny: 12px;
$fs-small: 14px;
$fs-base: 16px;
$fs-big: 18px;
$fs-large: 22px;
$fs-huge: 28px;
$fs-giant: 46px;

// GUTTER
$gutter: 30px;
$gutter-single: 15px;

// BREAKPOINTS
$xs: 420px;
$sm: 768px;
$md: 992px;
$lg: 1200px;
