.banner {
  background-color: $cyan;
  color: $ivory;
  padding: 0;
  height: 500px;

  &--video {
    background-image: url('../../images/stock-phone.jpg');
    background-size: cover;
    background-position: center;
  }

  &__overlay {
    background-color: rgba(black, 0.7);
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  @include breakpoint($md){
    height: 600px;
  }

  &__container {
    @include Max-width;
    padding: 160px $gutter;

    @include breakpoint($md) {
      padding:  210px $gutter $gutter $gutter;
    }

  }

  &__title {
    font-size: $fs-giant;
    @include Title;
  }

  &__abstract {
    font-size: $fs-big;
  }

}
