.banner {
  background-color: $cyan;
  color: $ebony;
  padding: 0;

  @include breakpoint($sm){
    height: 600px;
  }

  &__container {
    @include Max-width;
    padding: $gutter*2 $gutter;

    @include breakpoint($md) {
      padding:  210px $gutter $gutter $gutter;
    }

  }

  &__title {
    padding: 0 $gutter-single;
    font-size: $fs-giant;
    @include Title;
  }

  &__abstract {
    padding: 0 $gutter-single;
    font-size: $fs-big;
  }

}
