.btn {
  max-width: 300px;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: $dark-red;
  color: $white;
  text-align: center;
  font-size: 18px;
  transition: background-color 0.25s ease;
  cursor: pointer;

  &:hover {
    background-color: $light-red;
    color: $white;
  }

  &--banner {
    display: block;
    margin: 60px auto 0;
  }

  &--section {
    display: inline-block;

    @include breakpoint($md){
      display: block;
      margin: $gutter auto 0;
    }
  }

  &__toggler {
    width: 200px;
    margin-bottom: $gutter-single;
    font-size: $fs-base;
    text-align: left;

    @include breakpoint($md){
      display: block;
    }

    &:hover {
      color: $white;
      background-color: $dark-red;
    }

    &--inactive {
      color: $dark-red;
      background: none;
      transition: background-color 0.25s ease;

      &:hover {
        color: $dark-red;
        background-color: $light-grey;
      }
    }

  }

  &__container {

    &--center {
      text-align: center;
    }

  }

}
